{% extends "layout.html" %}

{% block content %}


<!-- Death rooms -->
{% if room.name in ["death", "The End Loser", "Bomb Death", "Bridge Death"] %}
<p> You earned no points :(</p>
<p> Points you finished with: {{ score }}</p>
<h1> {{ room.name }} </h1>
<pre>
{{ room.description }}
</pre>
{{g_death.description}}
<p><a href="/">Do You Want to Play Again?</a></p>

<!-- Central Corridor room -->
{% elif room.name in ["Rest Area", "Spaceship Bathroom","Main Lobby", "Central Corridor"] %}
<a href="{{ url_for('help') }}">
    <button style="margin-left: 800;margin-right: 38px type="button">Help</button>
</a>
<br>
<br>
<br>
<br>
<p>Your current accumulated score is: {{ score }}</p>
<h1> {{ room.name }} </h1>
<pre>
{{ room.description }}
</pre>
<p>
    <form action="/game" method="POST">
        - <input type="text" name="action"> <input type="SUBMIT">
    </form>
</p>

<!-- Central Corridor room -->
{% elif room.name == "Laser Weapon Armory" %}
<a href="{{ url_for('help') }}">
    <button style="margin-left: 800;margin-right: 38px type=" button">Help</button>
</a>
<br>
<br>
<br>
<br>
<p>You earned +2 points!</p>
<p>Your new score is: {{ score }}</p>
<h1> {{ room.name }} </h1>
<pre>
{{ room.description }}
</pre>
<p>Number of tries: {{n_count}}</p>
<p>
    <form action="/game" method="POST">
        - <input type="text" name="action"> <input type="SUBMIT">
    </form>
</p>

<!-- Won the game room -->
{% elif room.name == "The End Winner" %}
<h3>YOU WON!</h3>
<p>You earned +2 points!</p>
<p>Your final and new accumulated score is: {{ score }}</p>
<h1> {{ room.name }} </h1>
<pre>
{{ room.description }}
</pre>

<p><a href="/">Click here to play again!</a></p>

<!-- Anyother room -->
{% else %}
<a href="{{ url_for('help') }}">
    <button style="margin-left: 800;margin-right: 38px type=" button">Help</button>
</a>
<br>
<br>
<br>
<br>
<p>You earned +2 points!</p>
<p>Your new score is: {{ score }}</p>
<h1> {{ room.name }} </h1>
<pre>
{{ room.description }}
</pre>
<p>
    <!--form action="/game" | action atrribute specefies where to send the form-data when
        a form is submitted.
        method="POST" | POST is used to send data to a server to create/update a resource-->
    <form action="/game" method="POST">
        <!--<input | specifies an input field where the user can enter data
        
            type=" " | specifies the type of <input> element to display. Do you want a box to
            enter "text", do you want a "checkbox", do you want a "buttom", a "submit" button, etc..
            
            name=" " | name attribute is used to reference inputted elements or reference specific
            form data after a form is submitted. Ex: Whatever is inputed here will be saved into a
            variable name "action" -->
        - <input type="text" name="action"> <input type="SUBMIT">
    </form>
</p>
{% endif %}
</div>

{% endblock %}