{% extends "layout.html" %}

{% block content %}

<h1> {{ room.name }} </h1>

<pre>
{{ room.description }}
</pre>

{% if room.name in ["death", "The End Loser", "Bomb Death", "Bridge Death"] %}
{{g_death.description}}
<p><a href="/">Do You Want to Play Again?</a></p>

{% elif room.name == "Laser Weapon Armory" %}
<p>Number of tries: {{n_count}}</p>
<p>
    <form action="/game" method="POST">
        - <input type="text" name="action"> <input type="SUBMIT">
    </form>
</p>
{% elif room.name == "The End Winner" %}
<h3>YOU WON!</h3>
<h3>GREAT JOB!</h3>
<p><a href="/">Click here to play again!</a></p>

{% else %}
<p>
    <!--form action="/game" | action atrribute specefies where to send the form-data when
        a form is submitted.
        method="POST" | POST is used to send data to a server to create/update a resource-->
    <form action="/game" method="POST">
        <!--<input | specifies an input field where the user can enter data
        
            type=" " | specifies the type of <input> element to display. Do you want a box to
            enter "text", do you want a "checkbox", do you want a "buttom", a "submit" button, etc..
            
            name=" " | name attribute is used to reference inputted elements or reference specific
            form data after a form is submitted. Ex: Whatever is inputed here will be saved into a
            variable name "action" -->
        - <input type="text" name="action"> <input type="SUBMIT">
    </form>
</p>
{% endif %}
</div>

{% endblock %}